*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height:100vh;
  background: linear-gradient(135deg,#012a2e,#001a24);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container{
  width: 380px;
  text-align: center;
  color: white;
}
.login-container h1{
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.input-box {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  padding: 10px 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: white;
  font-size: 16px;
}

.input-box input::placeholder {
  color: #e0e0e0;
}

.icon {
  background: white;
  color: #012a2e;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.login-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background: #fff;
  color: #012a2e;
}

.register-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background: #fff;
  color: #012a2e;
}

#message, #regMessage {
  margin-top: 20px;
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: underline;
}