* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background: #1abc9c;
  display: grid;
  place-items: center;
}

.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper .tittle {
  line-height: 80px;
  background: #16a085;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.wrapper form {
  padding: 30px 20px 25px 20px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  background: #16a085;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #16a085;
  border-radius: 3px 0 0 3px;
}
.wrapper form .pass a:hover{
    text-decoration: underline;
}
.wrapper form .row input {
  height: 100%;
  width: 100%;
  padding-left: 60px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

.wrapper form .button input{
    color:#fff;
    font-size:18px;
    font-weight:500;
    padding-left:0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
}
form .button input:hover{
 background: #12876f;
 box-shadow: inset 0px 0px 2px 22px rgba(26,188,156,0.25);
}

.wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
}
.wrapper form .signup-link a{
    color:#16a085;
    font-size: 17px;
}
.wrapper form .pass{
    margin:-10px 0 15px 0;
}
.wrapper form .pass a{
    color:#16a085;
    font-size:17px;
    text-decoration: none;
}
